@model RentCarViewModel

@{
  ViewData["Title"] = "Edit Rental";
  ViewBag.Action = "Edit";
}

<h2>Edit Rental details</h2>
<hr/>
<div class="row">
  <div class="col-md-6">
    @{ await Html.RenderPartialAsync("_RentalForm");}
  </div>
</div>

<div>
  <a role="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
